/* AboutUs.css */

.about-us-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 40px;
  background: rgba( 245, 240, 240, 0.05 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 0px );
-webkit-backdrop-filter: blur( 0px );
border-radius: 30px;
border: 1px solid rgba( 255, 255, 255, 0.18 ); 
background-color: #f3ecf3;
/* padding: 50px; */
}

.about-us-content {
  max-width: 800px;
  text-align: center;
}

.about-us-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-us-description {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 40px;
}

.team-members {
  display: flex;
  justify-content: center;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.team-member-avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.team-member-info {
  text-align: center;
}

.team-member-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.team-member-role {
  font-size: 18px;
  color: #888;
}
